*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
  }
  a{
    text-decoration: none;
    color:#14181f;
  }
  
  body{
    display:grid;
    grid-template-rows: auto 1fr auto;  
  }

  nav{
    background: #171c24;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
  }
  nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
  }
  nav .nav-items{
     margin-left:20%; 
    display:block;
    flex: 1;
    padding-left:10px;
  }
  
  nav .nav-items a{
    float:none;
      
    color: #fff;
    font-size: 18px;
    padding:10px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .nav-items a:hover{
    color: #ff3d00;
    background-color: #edeef0;
  border-radius: 8px;
  }
  nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    background: #edeef0;
    
    border-radius: 2px;
    border: 1px solid rgba(155,155,155,0.2);
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
  }
  nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #fc7a53;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  } 
  nav form button:hover{
    background: #fa290d;
  }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
  }
  input[type=text], select, .email{
    width: 400px;
    transition:width 0.4s ease-in-out;
    padding:12px 20px;
    display:inline-block;
    border:1px solid black;
    border-radius:8px;
    box-sizing: border-box;
  }
  
  input[type=submit]{
    width: 100%;
    background-color: lightskyblue;
    color: white;
    padding:14px 20px;
    margin: 8px;
    border:none;
    border-radius:12px;
  }
  input[type=text]:focus{
    background-color:lightblue;
    width:50%;
}
input[type=email]:focus{
  background-color:lightblue;
  width:50%;
}
input[type=submit]:hover{
    background-color:blue;
}
.f-form{
  background-image: url("/Notes/Resources/pexels-peter-fazekas-1170576.jpg"); 
    background-size:cover;
    border-radius:6px;
    background-color:silver;
    padding:20px;
    text-align: center;
}
.footer{ 
  margin-top:auto;
  height:80px;
  padding: 2px;
  width:100%;
  bottom:0;
  background-color: #ffffff;
  box-shadow: 3px 3px 6px 3px; 
  border-radius: 6px;
}

.footer-content-right {
  padding-right:40px;
  margin-top:10px;
  float:right;
  
}

.icon-style {
  height:40px;
  margin-left:20px;
  margin-top:5px;
  
}

.icon-style:hover {
  background-color:rgb(10, 154, 243);
  padding:5px;
  border-radius: 20px;
}
.footer-content-left{
  float:left;
  margin-top:25px;
  margin-left:10px;
  color: white;
  font-weight: 600;
  background-color: rgb(80, 80, 80);
  border-radius: 8px;
  padding:5px;
}

@media screen and (max-width: 1040px){ 
  /*1140 */
  
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    margin-left:0;
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items a{
    display:block;
    text-align:center;
    width:100%;
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
  nav .logo.space{
    color: red;
    padding: 0 5px 0 0;
  }
}
.footer{
  height:100px;
}

@media screen and (max-width: 940px){

  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
  .footer{
    
    height:100px;
  }
}
@media screen and  (max-width: 400px){
  


  h1{
    padding-top:30px;
    width:100%;
    text-align:center;
    float:left;
    margin-top:0;
  }
   .footer{
     
    width:100%;
    
    
  } 
  
}